{% if user.groups.all.0.name == "afiliaciones" %}

  {% include 'sidebar/parametros.html' %}
  {% include 'sidebar/documentacion.html' %}

{% elif user.groups.all.0.name == "superusuario" %}

  {% include 'sidebar/documentacion.html' %}
  {% include 'sidebar/parametros.html' %}
  {% include 'sidebar/superusuario.html' %}

{% elif user.groups.all.0.name == "socio" %}

  {% include 'sidebar/parametros.html' %}
  {% include 'sidebar/socio.html' %}
  {% include 'sidebar/documentacion.html' %}


{% elif user.groups.all.0.name == "contable" %}

  {% include 'sidebar/parametros.html' %}
  {% include 'sidebar/documentacion.html' %}
	{% include 'sidebar/contable.html' %}
  {% include 'sidebar/reportes.html' %}
  {% include 'sidebar/herramientas.html' %}

{% elif user.groups.all.0.name == "fosea" %}

  {% include 'sidebar/parametros.html' %}
  {% include 'sidebar/fosea.html' %}

{% else %}

  {% include 'sidebar/parametros.html' %}
  {% include 'sidebar/documentacion.html' %}
  {% include 'sidebar/basico.html' %}
  {% include 'sidebar/reportes.html' %}
  {% include 'sidebar/herramientas.html' %}
  
  {% if consorcio.proveeduria %}
    {% include 'sidebar/proveeduria.html' %}
  {% endif %}

  {% if consorcio.fosea %}
    {% include 'sidebar/fosea.html' %}
  {% endif %}

  {% if consorcio.id == 6 or consorcio.id == 13 or consorcio.id == 7 %}
    {% include 'sidebar/chatia.html' %}
  {% endif %}
{% endif %}
