{% extends 'raiz.html' %}
{% load staticfiles %}
{% load humanize %}

{% block titulo %}
  {{resumen.nombre}}
{% endblock %}

{% block breadcrum %}
  {% include 'comunes/breadcrum.html' with bpadre="resumenes" bhijo1=resumen.nombre %}
{% endblock %}

{% block header %}
  {{resumen.nombre}}
{% endblock %}

{% block contenido %}
  <div class="row">
    <div class="col-md-12">
      <div class="card-box">
        <h4 class="header-title m-t-0">Deudas pendientes del socio {{socio}} al {{fecha|date:"d/m/Y"}} <a href="{% url 'res_par' resumen=resumen.slug %}" class="btn pull-right btn-pink waves-effect waves-light"><i class="fa fa-hand-o-left"></i> Consultar otros parametros</a> </h4>
        <br>
        <div class="table-responsive">
          <table class="table anopa">
            <thead>
              <tr class="active">
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Saldo</th>
              </tr>
            </thead>
            <tbody>
              {% for c in creditos%}
                  <tr>
                    <td>{{c.periodo|date:"d/m/Y"}}</td>
                    <td>{{c.ingreso|intcomma}}</td>
                    <td>{{c.saldo|intcomma}}</td>
                  </tr>
              {% endfor %}
                <!-- Fila de total -->
                <tr class="font-weight-bold">
                  <td></td>
                  <td colspan="2" class="text-right"><strong>Total:</strong></td>
                  <td>{{ total_saldo|intcomma }}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {% include 'comunes/js_datatable_print_excel_titulo.html' with titulo_print=resumen.nombre %}
  <script>
      $(document).ready(function() {
          // Obtener si es federación desde Django
          var esFederacion = "{{ consorcio.es_federacion }}";
    
          // Definir el título según el valor de consorcio.es_federacion
          var titleText;
          if (esFederacion == "True") { 
              titleText = 'Estado de Deuda de Mat. {{ socio.apellido }}, {{ socio.nombre }} al {{ fecha|date:"d/m/Y" }}';
          } else {
              titleText = 'Estado de Deuda de {{ socio.nombre }} {{ socio.apellido }} al {{ fecha|date:"d/m/Y" }}';
          }
    
          // Destruir la instancia existente del DataTable si existe
          if ($.fn.dataTable.isDataTable('.anopa')) {
              $('.anopa').DataTable().destroy();
          }
    
          // Inicializar el DataTable con el título correcto y orden
          $('.anopa').DataTable({
              dom: "Bfrtip",
              buttons: [{
                  extend: "excel",
                  className: "btn-sm",
              }, {
                  extend: "print",
                  title: titleText,  // Usar el título dinámico
                  message: '{% include "comunes/titulo_exportacion.html" %}',
                  className: "btn-sm",
              }],
              scrollX: true,
              columnDefs: [
              {
                targets: 0,  // Aplica esto a la primera columna (índice 0)
                type: 'date',
              }
              ],
              order: [[0, 'asc']],  // Ordenar por la primera columna (índice 0), de forma ascendente ('asc')
              language: {
                  "emptyTable": "No hay entradas",
                  "search": "Buscar: ",
                  "paginate": {
                      "first": "Primero",
                      "last": "Último",
                      "next": ">",
                      "previous": "<",
                  },
                  "lengthMenu": "Ver _MENU_ entradas",
                  "info": "Visualizando _START_ a _END_ de _TOTAL_ entradas",
                  "infoEmpty": "Visualizando 0 a 0 de 0 entradas",
              },
          });
      });
    </script>
    {% endblock %}