{% extends 'raiz.html' %}
{% load staticfiles %}

{% block titulo %}Registro de Denuncias{% endblock %}

{% block breadcrum %}
  {% include 'comunes/breadcrum.html' with bpadre="fosea" bhijo1="registro-denuncias" %}
{% endblock %}

{% block header %}Registro de Denuncias{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col-md-3">
    {% include 'comunes/filtro.html' %}
  </div>
  <div class="col-md-9">
    <div class="card-box">
      {% include 'comunes/paginador.html' %}
      <div class="table-responsive">
        {% include 'registros/tabla-denuncias.html' with denuncias=lista %}
      </div>
      {% include 'comunes/paginador.html' %}
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  {% include 'comunes/js_datatable_print_excel.html' %}
{% endblock %}