{% load staticfiles %}
{% load humanize %}

<table class="anopa table table-sm display nowrap" style="width:100%">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Fecha</th>
      {% if not user.groups.all.0.name == "socio" %}
        <th>Socio</th>
      {% endif %}
      <th class="text-right">Ha totales</th>
      <th class="text-right">Ha reales</th>
      <th class="text-right">Aporte en QQ</th>
      <th class="text-right">Total Suscripción</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for solicitud in solicitudes %}
      <tr>
        <td>Solicitud</td>
        <td>{{ solicitud.fecha|date:"d/m/Y" }}</td>
        {% if not user.groups.all.0.name == "socio" %}
          <td style="white-space: nowrap;" title="{{ solicitud.socio }}">{{ solicitud.socio|truncatechars:70 }}</td>
        {% endif %}
        <td class="text-right">
          {{ solicitud.hectareas_totales|default:solicitud.hectareas_totales_calc|default_if_none:"0.00"|floatformat:2 }}
        </td>
        <td class="text-right">
          {{ solicitud.hectareas_reales|default:solicitud.hectareas_reales_calc|default_if_none:"0.00"|floatformat:2 }}
        </td>
        <td class="text-right">
          {{ solicitud.aporte_total_qq|default:solicitud.aporte_total_qq_calc|default_if_none:"0.00"|floatformat:2 }}
        </td>
        <td class="text-right">
          {{ solicitud.total_suscripcion|default:solicitud.total_suscripcion_calc|default_if_none:"0.00"|floatformat:2 }}
        </td>        
        <td class="text-right">
          <!-- Eliminar -->
          <a href="{% url 'solicitud_eliminar' solicitud.pk %}"
            class="btn btn-icon btn-xs btn-danger btn-bordered waves-efect waves-light"
            title="Eliminar solicitud">
            <i class="fa fa-trash"></i>
          </a>
          
          <!-- Editar -->
          <a href="{% url 'solicitud_editar' solicitud.pk %}"
             class="btn btn-icon btn-xs btn-pink btn-bordered waves-efect waves-light"
             title="Editar">
            <i class="fa fa-pencil"></i>
          </a>
        
          <!-- Imprimir PDF de la solicitud -->
          <a href="{% url 'solicitud_pdf' solicitud.pk %}"
             class="btn btn-icon btn-xs btn-success btn-bordered waves-efect waves-light"
             title="Imprimir solicitud (PDF)"
             target="_blank" rel="noopener">
            <i class="fa fa-file-pdf-o"></i>
          </a>
        
          <!-- Imprimir Pagaré -->
          <a href="{% url 'pagare_solicitud' solicitud.pk %}"
             class="btn btn-icon btn-xs btn-primary btn-bordered waves-efect waves-light"
             title="Imprimir pagaré"
             target="_blank" rel="noopener">
            <i class="fa fa-file-text-o"></i>
          </a>
        </td>
              </tr>
    {% endfor %}
  </tbody>
</table>
