{% load staticfiles %}
{% load humanize %}

<table class="anopa table table-sm display nowrap" style="width:100%">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Numero</th>
      <th>Fecha</th>
      {% if not user.groups.all.0.name == "socio" %}
        <th>Socio</th>
      {% endif %}
      <th class="text-right">Valor</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for solicitud in solicitudes %}
      <tr>
        <td>Solicitud</td>
        <td>#{{ solicitud.id }}</td>
        <td>{{ solicitud.fecha|date:"d/m/Y" }}</td>
        {% if not user.groups.all.0.name == "socio" %}
          <td style="white-space: nowrap;" title="{{ solicitud.socio }}">{{ solicitud.socio|truncatechars:70 }}</td>
        {% endif %}
        <td class="text-right">
          {% with solicitud.total as val %}
            {% if val %}{{ val|intcomma }}{% else %}-{% endif %}
          {% endwith %}
        </td>
        <td class="text-right">
          <a href="{% url 'solicitud_editar' solicitud.pk %}" class="btn btn-icon btn-xs btn-pink btn-bordered waves-efect waves-light" title="Editar">
            <i class="fa fa-pencil"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
