{% load humanize %}
<table id="anopa" class="table">
  <thead>
    <tr>
      <th>N°</th>
      <th>Fecha</th>
      <th>N° Cuenta</th>
      <th>Cuenta</th>
      <th class="text-right">Debe</th>
      <th class="text-right">Haber</th>
      <th class="text-right">Saldo</th>
      <th>Descripcion</th>
    </tr>
  </thead>
  <tbody>
    {% for data in asientos_data %}
      <tr class="small">
        <td>{{ data.numero }}</td>
        <td>{{ data.fecha_asiento|date:"d/m/Y" }}</td>
        <td>{{ data.cuenta_numero }}</td>
        <td>{{ data.cuenta_nombre }}</td>
        <td class="text-right">{{ data.debe|intcomma }}</td>
        <td class="text-right">{{ data.haber|intcomma }}</td>
        <td class="text-right">{{ data.saldo|intcomma }}</td>
        <td>{{ data.descripcion }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>