{# templates/resumenes/val_stock/index.html #}
{% extends 'raiz.html' %}
{% load staticfiles %}

{% block titulo %}{{ resumen.nombre|default:"Valorización de stock a fecha" }}{% endblock %}

{% block css %}
  <link rel="stylesheet" href='{% static "plugins/datatables/jquery.dataTables.min.css" %}'>
  <link rel="stylesheet" href='{% static "plugins/datatables/buttons.bootstrap.min.css" %}'>
  <link rel="stylesheet" href='{% static "plugins/datatables/dataTables.bootstrap.min.css" %}'>
{% endblock %}

{% block breadcrum %}
  {% include 'comunes/breadcrum.html' with bpadre="resumenes" bhijo1=resumen.nombre|default:"Valorización de stock a fecha" %}
{% endblock %}

{% block header %}
  {{ resumen.nombre|default:"Valorización de stock a fecha" }}
{% endblock %}

{% block contenido %}
<div class="row">
  <div class="col-md-12">
    <div class="card-box">
      <h4 class="header-title m-t-0">
        Stock valorizado al {{ fecha }}
        <a href="{% url 'res_par' resumen=resumen.slug %}" class="btn pull-right btn-pink waves-effect waves-light">
          <i class="fa fa-hand-o-left"></i> Consultar otros parámetros
        </a>
      </h4>
      <br>

      <div class="table-responsive">
        <table class="anopa table display nowrap" style="width:100%">
          <thead>
            <tr class="active">
              <th>Producto</th>
              <th>Rubro</th>
              <th>U.M.</th>
              <th class="text-right">Cantidad</th>
              <th class="text-right">Costo u.</th>
              <th class="text-right">Precio u.</th>
              <th class="text-right">Costo total</th>
              <th class="text-right">Precio total</th>
              <th class="text-right">Rent. neta</th>
              <th class="text-right">% Rent.</th>
            </tr>
          </thead>
          <tbody>
            {% for f in filas %}
              <tr>
                <td>{{ f.producto__nombre }}</td>
                <td>{{ f.producto__rubro__nombre|default:"—" }}</td>
                <td>{{ f.producto__unidad_medida }}</td>
                <td class="text-right">{{ f.stock|floatformat:2 }}</td>
                <td class="text-right">{{ f.costo_unit|floatformat:2 }}</td>
                <td class="text-right">{{ f.precio_unit|floatformat:2 }}</td>
                <td class="text-right">{{ f.costo_total|floatformat:2 }}</td>
                <td class="text-right">{{ f.venta_total|floatformat:2 }}</td>
                <td class="text-right">{{ f.rent_neto|floatformat:2 }}</td>
                <td class="text-right">{{ f.rent_pct|floatformat:2 }}</td>
              </tr>
            {% empty %}
              <tr><td colspan="10" class="text-center text-muted">Sin datos para la fecha seleccionada.</td></tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr class="info">
              <th colspan="3" class="text-right">Totales</th>
              <th class="text-right">{{ totales.stock|floatformat:2 }}</th>
              <th></th>
              <th></th>
              <th class="text-right">{{ totales.costo_total|floatformat:2 }}</th>
              <th class="text-right">{{ totales.venta_total|floatformat:2 }}</th>
              <th class="text-right">{{ totales.rent_neto|floatformat:2 }}</th>
              <th class="text-right">{{ totales.rent_pct|floatformat:2 }}</th>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block js %}
  {% include 'comunes/js_datatable_print_excel_titulo.html' with titulo_print=resumen.nombre with_footer='True' %}
{% endblock %}


